* {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .05em;
  background: #13011a;
  
}
html, body{
 height: 100vm;

}  

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #13011a;
  align-items: center;
  justify-content: center;
}


.nav {
  display: flex;
  flex-direction: row;
  background: transparent;
  height: 2em;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  flex-direction: row;
 
}

.timtv {
  width: 25%;
}
.border {
  border: 2px solid #f3d5fe;
  border-radius: 15px;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: .5em;
  padding-bottom:1em;
}





.title{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  cursor: pointer;
  width: auto;
  border: none;
  text-align: right;
  outline: none;
  text-decoration: none;
  align-items: center; /* Add this line to align items vertically */
  margin-top: .5em;
  margin-left: 1em;
}
.title h1 {
  background-color: transparent;
  color: #ffffff;
  width: auto;
  border: none;
  outline: none;
  font-size: 14px;
  text-decoration: none;
  font-weight:lighter;
}

h1 {
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  width: auto;
  border: none;
  outline: none;
  font-size: 16px;
}

.content a {
  background-color: transparent;
  color: #ffffff;
  width: 95%;
  border: none;
  outline: none;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  margin: 1em;
}

h2 {
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  width: auto;
  border: none;
  outline: none;
  font-size: 16px;
  margin-right: 2em;
  margin-bottom: -.5em;
  text-align: right;
}
h3 {
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  width: auto;
  border: none;
  outline: none;
  font-size: 16px;
  margin-left: 2em;
  margin-bottom: -.5em;
  text-align: left;
}


/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 18px;
  display: none;
  background-color: #13011a;
  width: auto;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  border-radius: 15px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  cursor: pointer;
  margin-left: .5em;
  margin-right: 1em;
  margin-top: .2em;
  margin-bottom: .2em;
  width: auto;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  text-decoration: none;
  align-items: center; /* Add this line to align items vertically */
}

/* Style the collapsible button when the content is displayed */
.collapsible.active {
  background-color: #f3d5fe;
  width: auto;
  border-radius: 10px;
  color: #13011a;
}


.channelborder{
  border: 2px solid #f3d5fe;
  border-radius: 15px;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: .5em;
  padding-bottom:1em;
  gap: 1em
 
}


.channels {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  cursor: pointer;
  width: auto;
  border: none;
  outline: none;
  font-size: 14px;
  text-decoration: none;
  align-items: center; /* Add this line to align items vertically */
  margin-top: 1em;
  
}


.nbalogo {
  width: 16px;
  height: 16px;
  margin: 8px;
  display: flex;
  background: transparent;
}

.live {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  margin-left: 1em;
  background: transparent;
}


.links {
  display: flex;
  flex-direction: row;
  margin-right: 1em;
  list-style: none;
}


