body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-sizing: border-box;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    
  }

.gradient-border {
    --border-width: 8px;
    position: relative;
    display: flex;
    gap: .5em;
    justify-content: center;
    width: 640px;
    height: 360px;
    flex-direction: column;
    font-size: 1.2em;
    color: white;
    background: rgb(0, 0, 0);
    border-radius: var(--border-width);
  
    &::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: calc(2 * var(--border-width));
      animation: moveGradient 4s alternate infinite;
    }
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }