
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Warp', sans-serif;
    font-family: 'Young Serif', serif; 
    font-size: 16pt;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(25, 13, 33);
}
 
p {
    color: #ffffff;
}

.nav {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    padding: 1em 2em;
    color: #ffffff;
    display: flex;
    justify-content: center; /* Center horizontally */
    background-color: transparent;
}
/* Style for the logo */
.nav a {
    margin: 0;
    text-decoration: none;
    color: #fff;
}
.btn {
    margin: 1em;
    text-decoration: none;
    color: #fff;
    padding: 1.5em 3em;
    border: 1px solid #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
}

.btn a {
    text-decoration: none;
    color:#fff;
}


@media screen and (max-width: 800px) {
 
}

.gradient-border {
    --border-width: 3px;
    position: relative;
    margin: 0.5em;
    display: flex;
    gap: .5em;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 1280px;
    height: 720px;
    font-size: 1.2em;
    color: white;
    background: rgb(25, 13, 33);
    border-radius: var(--border-width);
  
    &::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: calc(2 * var(--border-width));
      animation: moveGradient 4s alternate infinite;
    }
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
